*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#222222;
  font-family: 'Roboto', sans-serif;
}

li, a, button{
  font-weight: 500;
  font-size: 16;
  color: #f2f2f2;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
}

.navLinks{
  list-style: none;
}

.navLinks li{
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a{
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
  color: #6C63FF;
}

button{
  padding: 9px 25px;
  background-color: #6C63FF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #6c63ffc9;
}



.jogos{
  width: 100%;
  margin: auto;
}

.container{
  max-width: 95%;
  margin: auto;
}

.content{
  display: flex;
  margin: auto;
}

.megaSema{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: rgb(32,152,105);
  background: linear-gradient(61deg, rgba(32,152,105,1) 33%, rgba(14,124,36,1) 100%);
}

.megaSema h1{
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 6px;
  background: transparent;
  margin-bottom: 20px;
}

.megaSema p{
  color: #f2f2f2;
  margin-bottom: 16px;
  background: transparent;
}

.generateNum{
  background-color: #f2f2f2;
  color: #222222;
  margin-bottom: 20px;
  border-radius: 12px;
}
.generateNum:hover{
  background-color: #cacaca;
  color: #222222;
  margin-bottom: 20px;
}

.newNumber{
  background: transparent;
}



.lotoFacil{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: rgb(233,9,217);
  background: linear-gradient(61deg, rgba(233,9,217,1) 33%, rgba(147,9,137,1) 100%);
}

.lotoFacil h1{
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 6px;
  background: transparent;
  margin-bottom: 20px;
}

.lotoFacil p{
  color: #f2f2f2;
  margin-bottom: 16px;
  background: transparent;
}




.quina{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: rgb(99,45,235);
  background: linear-gradient(61deg, rgba(99,45,235,1) 33%, rgba(38,0,133,1) 100%);
}

.quina h1{
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 6px;
  background: transparent;
  margin-bottom: 20px;
}

.quina p{
  color: #f2f2f2;
  margin-bottom: 16px;
  background: transparent;
}