*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#121212;
  font-family: 'Roboto', sans-serif;
}

li, a, button{
  font-weight: 500;
  font-size: 16;
  color: #f2f2f2;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  border-radius: 8px;
}

.navLinks{
  list-style: none;
}

.navLinks li{
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a{
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
  color: #6C63FF;
}

button{
  padding: 9px 25px;
  background-color: #6C63FF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #1f1f1f;
}



.jogos{
  width: 100%;
  margin: auto;
}

.container{
  max-width: 95%;
  height: 100hv;
  margin: auto;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 50px 0;
  background-color:#141414d1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 18px;
}

.megaSema{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: #1e1e1e;
  
}

.megaSema h1{
  text-align: center;
  color: #f2f2f2;
  background: transparent;
}

.markMega{
  width: 120px;
  height: 3px;
  border-radius: 5px;
  background: #006600;
  margin:5px auto;
  margin-bottom: 25px;
}

.megaSema p{
  color: #f2f2f2;
  margin-bottom: 12px;
  background: transparent;
}

.megaSema h3{
  position: relative;
  color: #006600;
  margin-bottom: 16px;
  background: #f1f1f1;
  padding: 10px 1px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
  word-spacing: 15px;
}
.generateNum{
  background-color: #f2f2f2;
  color: #222222;
  margin-bottom: 20px;
  border-radius: 6px;
}
.generateNum:hover{
  background-color: #cacaca;
  color: #222222;
  margin-bottom: 20px;
}

.newNumber{
  background: transparent;
}
.containerNewNumberMega{
  background: transparent;
  max-height: 130px;
  overflow-y: scroll;
}

.containerNewNumberMega::-webkit-scrollbar {
  background: #141414d1;  
  border-radius: 50px;
  width: 10px;
}
.containerNewNumberMega::-webkit-scrollbar-thumb {
  background-color: #6C63FF;  
  border-radius: 20px;     
}

.lotoFacil{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: #1e1e1e;
}

.lotoFacil h1{
  text-align: center;
  color: #f2f2f2;
  background: transparent;
}

.markFacil{
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background: #8a2be2;
  margin:5px auto;
  margin-bottom: 25px;
}

.lotoFacil p{
  color: #f2f2f2;
  margin-bottom: 12px;
  background: transparent;
}
.lotoFacil h3{
  color: #8a2be2;
  margin-bottom: 16px;
  background: #f1f1f1;
  padding: 10px 1px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
}
.containerNewNumberFacil{
  background: transparent;
  max-height: 130px;
  overflow-y: scroll;
}

.containerNewNumberFacil::-webkit-scrollbar {
  background: #141414d1;  
  border-radius: 50px;
  width: 10px;
}
.containerNewNumberFacil::-webkit-scrollbar-thumb {
  background-color: #6C63FF;  
  border-radius: 20px;     
}


.quina{
  max-width: 350px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: #1e1e1e;
}

.quina h1{
  text-align: center;
  color: #f2f2f2;
  background: transparent;
}

.markQuina{
  width: 60px;
  height: 3px;
  border-radius: 5px;
  background: #2d57e2;
  margin:5px auto;
  margin-bottom: 25px;
}

.quina p{
  color: #f2f2f2;
  margin-bottom: 12px;
  background: transparent;
}

.quina h3{
  color: #2d57e2;
  margin-bottom: 16px;
  background: #f1f1f1;
  padding: 10px 1px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
}

.containerNewNumberQuina{
  background: transparent;
  max-height: 130px;
  overflow-y: scroll;
}

.containerNewNumberQuina::-webkit-scrollbar {
  background: #141414d1;  
  border-radius: 50px;
  width: 10px;
}
.containerNewNumberQuina::-webkit-scrollbar-thumb {
  background-color: #6C63FF;  
  border-radius: 20px;     
}




@media (min-width: 300px) {
  .content{
    grid-template-columns: 1fr;
  }
  .megaSema,.lotoFacil,.quina {
    max-width: 340px;
    margin-bottom: 20px;
  }
}